/* PublicPage.css */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    }
.public-page-container {
background-color: rgb(103, 168, 23);
height: 10vh;
display: flex;
flex-direction: column; /* Stack the children vertically */
justify-content: center; /* Center content horizontally */
align-items: center; /* Center content vertically */
}

/* Increase input size */
.public-page-container input[type="text"] {
width: 300px; /* Adjust the width as needed */
padding: 10px; /* Adjust the padding as needed */
font-size: 16px; /* Adjust the font size as needed */
margin-right: 10px; /* Add margin to the right for spacing */
}

/* Increase submit button size */
.public-page-container button[type="submit"] {
padding: 12px 24px; /* Adjust padding for height and width */
font-size: 16px; /* Adjust the font size as needed */
cursor: pointer;
background-color: #c6edc7; /* Button background color */
color: rgb(0, 0, 0); /* Button text color */
border: none;
border-radius: 5px;
}



/* You can add more styles for other elements within this component */
